body {
  background-color: #b0c4de;
  font-family: sans-serif;
}

a {
  color: #548df3;
  font-weight: 500;
}

h1 {
  text-align: center;
  font-size: 48px;
}

h2 {
  font-size: 30px;
  margin: 10px 0;
}

select {
  width: 100%;
  font-size: 20px;
  padding: 8px;
  border-radius: 5px;
}

small {
  font-size: 20px;
  vertical-align: middle;
}

.container {
  max-width: 600px;
  background-color: #f5f5f5;
  display: block;
  margin: 60px auto;
  padding: 25px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.city {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  padding: 30px 0;
}

.city:last-child {
  border: none;
}

.time {
  margin: 20px 0;
  font-size: 40px;
  font-weight: bold;
}

footer {
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
}
